<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thérence Ferron ● <%= pageData.title %></title>
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- css.gg -->
    <link href='https://css.gg/css' rel='stylesheet'>
</head>
<body>
    
    <!-- MENU NAV -->
   <%- include('nav.ejs') %>

   <!-- OVERLAY -->
   <%- include('overlay.ejs') %>

   <!-- GRID -->
   <%- include('grid.ejs') %>
    
    <!-- LANDING -->
    <section class="landing">
        <div class="container">
            <div class="row">
                <div class="col-12 pageLanding">
                    <h1 class="title title-h1">
                        <span class="text-wrapper">
                            <span class="letters">
                                <%= pageData.title %>
                            </span>
                        </span>
                    </h1>
                    <div class="vitrine">
                        <img src="static/galery/Fazer/fazer-loader.gif" alt="">
                    </div>
                    <div class="blocs">
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="imgCrop imglg">
                        <img src="static/galery/Fazer/logo.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <p class="paragraph">
                        Pour valider la première année de notre bachelor à MyDigitalSchool, durant deux semaines à la
                        fin de l'année nous sommes en partiels afin de développer un projet.
                        Alors, en groupe de 4 nous avons décider de créer un jeu-vidéo !
                    </p>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="imgCrop imglg">
                        <img src="static/galery/Fazer/Fazer-SKIN.gif" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <p class="paragraph">
                        Accompagné de <a href="https://quentinmasbernat.fr">Quentin Masbernat</a>, <a
                            href="https://melissabelleau.fr">Melissa Belleau</a> et Thomas Laserre nous avons créé un
                        jeu en se basant sur le Framework PhaserJS. Nous avions pour but de développer le jeu, que ce
                        soit en terme de jouabilité ou tous les élements de décor et personnages. Ainsi qu'un site
                        autour jeu avec un système d'inscription/connexion pour enregistrer le score des joueurs, une
                        partie pour présenter l'équipe et enfin mettre en place une présence sur les réseaux-sociaux.

                    </p>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="imgCrop">
                        <img src="static/galery/Fazer/boutique.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <p class="paragraph">
                        Lorsque nous avons débuté le développement du jeu, nous nous sommes répartis les tâches afin
                        d'aller le plus vite possible (seulement 2 semaines pour créer un jeu !). Quentin a proposé
                        d'uiliser le Framework PhaserJS, qu'il ne connaissait pas, mais qui allait lui permettre de
                        développer plus facilement le jeu.
                    </p>
                    <p class="paragraph">
                        De mon côté, avec Thomas Laserre, je me suis occupé dans un premier temps de créer les sprites
                        des personnages et ennemis. Un sprite c'est une suite d'images mises les unes à côté des autres,
                        qui représente les animations que va avoir un personnage, exemple :
                    </p>
                </div>
                <div class="col-12">
                    <div class="imgCrop imgs">
                        <img src="static/galery/Fazer/sprite.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <p class="paragraph">
                        Nous avons dessiner un bon nombre de personnages, d'alternatives, créer les animations des bonus
                        en jeu, et surtout créer tous les ennemis. Cela nous a pris la majeure partie des deux semaines.
                        Il fallait créer plusieurs type d'animations pour chaque personnage, l'animation d'apparition,
                        de marche, de mort, d'attaque ... Voici un aperçu de tous les personnages que nous avons fait :
                    </p>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="imgCrop imglg">
                        <img src="static/galery/Fazer/liste-skins.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    <p class="paragraph">
                        Au bout des deux semaines de partiels, nous avons atteints nos objectifs: Créer un jeu complet,
                        développer un site sur lequel on peut créer un compte et enregistrer ses scores, créer des
                        réseaux sociaux. Le jeu était en ligne à cette adresse : <a
                            href="http://fazer.yj.fr/">http://fazer.yj.fr/</a>, nous avons aussi créer un Twitter : <a
                            href="https://twitter.com/TheFazersQuest">@TheFazersQuest</a>.
                        Avant le début de notre présentation pour les partiels nous avons partagé une vidéo teaser que
                        j'ai réalisé. Puis nous avons mis en ligne le site et de nombreuses personnes se sont mise à
                        jouer et à poster leurs scores sur Twitter.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="script/script.js"></script>
</body>
</html>